@model IEnumerable<trasua_web_mvc.Infracstructures.Entities.User>

@{
    ViewBag.Title = "Người dùng";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="pd-ltr-20">
    

    <
    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Danh sách người dùng</h2>
        <table class="data-table table nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Người dùng</th>
                    <th>Username</th>
                    <th>FullName</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="table-plus">
                            <img src="@item.Avatar"
                                 width="70"
                                 height="70"
                                 alt="" />
                        </td>
                        <td>@item.UserName</td>
                        <td>
                            <h5 class="font-16">@item.FullName</h5>
                        </td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@item.Role</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                
                
            </tbody>
        </table>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        DeskApp - Bootstrap 4 Admin Template By
        <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
    </div>
</div>