@model trasua_web_mvc.Dtos.CheckoutDto

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container invoice-container">
    <div class="row">
        <div class="col-md-12">
            <form action="checkout" method="post" enctype="multipart/form-data">
                <div class="invoice-header">
                    <h2>Hóa đơn</h2>
                    <div>
                        <p><strong>Date:</strong> January 1, 2024</p>
                    </div>
                </div>
                <div class="invoice-details form-group">
                    <p><strong>Giao tới:</strong></p>
                    <p><string>Họ và tên</string></p>
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    <p><string>Số điện thoại</string></p>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    <p><string>Địa chỉ</string></p>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="invoice-items form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Mô tả</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.Product.Name</td>
                                    <td>@item.Product.Description</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Product.Price</td>
                                    <td>@(item.Product.Price * item.Quantity)</td>
                                </tr>
                            }
                        </tbody>


                    </table>
                </div>

                <div class="invoice-total ">
                    <div>
                        <p><strong>Tạm tính:</strong></p>
                        <p><strong>Giảm giá (10%):</strong></p>
                        <p><strong>Tổng tiền:</strong></p>
                    </div>
                    <div class="form-group">
                        <p id="total" name="Total">@(Model.CartItems.Select(i => i.Product.Price * i.Quantity).Sum())</p>
                        <p style="color:green" id="discountResult"></p>
@*                         <p style="color:red" name="Total" id="totalAfterDiscountResult">@Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })</p>
 *@                        <input style="color:red"  id="totalAfterDiscountResult"  read >
                    </div>
                </div>
                <div class="payment-options form-group">
                    <p><strong>Chọn mã ưu đãi</strong></p>
                    @foreach (var item in Model.PromotionApplies)
                    {
                        if (@item.Price < 100)
                        {
                            <label><input type="radio" name="PromotionId" id="inputPrice" oninput="calculateDiscount(@item.Price)" value="@item.Value">@item.Text  - @item.Price %</label>
                        }
                        else
                        {
                            <label><input type="radio" name="PromotionId" id="inputPrice" oninput="calculateDiscount(@item.Price)" value="@item.Value">@item.Text  - @item.Price VND</label>
                        }
                    }
                </div>
                <div class="payment-options form-group">
                    <p><strong>Phương thức thanh toán</strong></p>
                    @foreach (var item in Model.PaymentMethods)
                    {
                        <label><input type="radio"  name="paymentId" value="@item.Value">@item.Text</label>
                    }
                </div>
                <button type="submit" class="btn btn-primary" style="background-color:#b81f32;color:#fff">Đặt hàng</button>
            </form>

        </div>
    </div>

</div>

<script>
    function calculateDiscount(inputDiscount){
        var totalMoney = document.getElementById("total");

        var totalText = totalMoney.textContent || priceElement.innerText;
        var price = parseFloat(inputDiscount);
        var totalMoneyOrder = totalText.replace(/\D/g, '');
        var totalAllOrder = 0;
        var discountedPrice = 0;

        if (price < 100) {
            discountedPrice = totalMoneyOrder * price / 100;    
            totalAllOrder = totalMoneyOrder - (totalMoneyOrder * price / 100);
        }else{
            discountedPrice = inputDiscount;
            totalAllOrder = totalMoneyOrder - price;
        }

        document.getElementById("discountResult").innerText = discountedPrice + " VND";
        document.getElementById("totalAfterDiscountResult").value = totalAllOrder;
    }
</script>
@* totalAllOrder.toString() *@